{% extends 'flatpages/default.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block title %}
    {% if request.resolver_match.view_name == 'article_create' %}
        {% blocktranslate asvar page_title %}Create article{% endblocktranslate %}
    {% else %}
        {% blocktranslate asvar page_title %}Edit article{% endblocktranslate %}
    {% endif %}
{% endblock title %}

{% block content %}
<h1>{{ page_title }}</h1>
<hr>
<form action="" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">{% translate 'Save' %}</button>
        <a class="btn btn-secondary" href="{% url 'article_list' %}">{% translate 'Cancel' %}</a>
    {% endbuttons %}
</form>
{% endblock content %}