{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Article list
{% endblock title %}

{% block content %}
<h1>All articles</h1>
<hr>
    <a href="{% url 'article_create' %}" class="btn btn-success">Add article</a>
    {% if not filter.is_applied %}
    <a href="{% url 'article_search' %}" class="btn btn-primary float-end">Search</a>
    {% else %}
    <a href="{% url 'article_list' %}" class="btn btn-danger float-end">Reset filter</a>
    {% endif %}
<hr>
{% if article_list %}
<table width="100%">
    <tr>
       <th width="250">Title</th>
       <th width="150">Date</th>
       <th width="300">Categories</th>
       <th width="*">Description</th>
       <th width="50"></th>
       <th width="65"></th>
   </tr>
    {% for article in article_list %}
    <tr>
       <td><a href="{% url 'article_detail' pk=article.id %}">{{ article.title|censor }}</a></td>
       <td>{{ article.date_created|date:"d M Y H:i" }}</td>
       <td>{{ article.categories.all|join:", " }}</td>
       <td>{{ article.content|truncatewords:20|censor }}</td>
       <td><a href="{% url 'article_edit' pk=article.id %}">[ Edit ]</a></td>
       <td><a href="{% url 'article_delete' pk=article.id %}" class="text-danger small">[ Delete ]</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
   <h2>No articles!</h2>
{% endif %}
{% include "flatpages/_pagination.html" %}
{% endblock content %}
